.plate {
  width: 410px;
  margin: $padding-top auto;
}
.script {
  font-family: "Seaweed Script";
  color: $header-color;
  text-align: center;
  font-size: 40px;
  position: relative;
  margin:0;
}
.script span {
  background-color: $background-color;
  padding: 0 0.3em;
}
.script:before {
  content:"";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid $header-color;
  // border-bottom: $header-color;
}
