$background-color: #0a0e15;
$background-pattern: url('/img/background-pattern.jpg');
$background-pattern-height: 46px;

$default-font-color: #fff9ec;
$header-color: #ac8d68;

$font-family: Verdana, Arial, Helvetica, sans-serif;

$padding-top: 2.2em;
