<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    {{ $style := resources.Get "sass/style.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" type="text/css" media="all" />
    <title>Thaiorchid Konepaja</title>
  </head>
  <body>

    <div id="header">
      <div></div>
      <div class="header-menu">foo</div>
      <div class="language">
        <ul>
          <li>
            <a href="#">fi</a>
          </li>
          <li>
            <a href="#">en</a>
          </li>
        </ul>
      </div>
    </div>

    <div id="jumbotron">
      <div class="logo">
        <img src="img/thaiorchid-logo.png" alt="">
      </div>
    </div>

    <div id="menu">

      <div id="menu-content">

        <img src="menu/thaimenu-fi_02.png" class="hide">
        <img src="menu/thaimenu-fi_03.png" class="hide">
        <img src="menu/thaimenu-fi_04.png" class="hide">
        <img src="menu/thaimenu-fi_05.png" class="hide">
        <img src="menu/thaimenu-fi_06.png" class="hide">
        <img src="menu/thaimenu-fi_07.png" class="hide">
        <img src="menu/thaimenu-fi_08.png" class="hide">
        <img src="menu/thaimenu-fi_09.png" class="hide">
        <img src="menu/thaimenu-fi_10.png" class="hide">
        <img src="menu/thaimenu-fi_11.png" class="hide">

        <div id="menu-list">
          <ul>
            <li><a class="menu-category" href="#">Alkupala</a></li>
            <li><a class="menu-category" href="#">Salaatti</a></li>
            <li><a class="menu-category" href="#">Curry</a></li>
            <li><a class="menu-category" href="#">Wok-paistettu</a></li>
            <li><a class="menu-category" href="#">Wok nuudeli</a></li>
            <li><a class="menu-category" href="#">Nuudelikeitto</a></li>
            <li><a class="menu-category" href="#">Ankka</a></li>
            <li><a class="menu-category" href="#">Meren elävät</a></li>
            <li><a class="menu-category" href="#">Kasvisruoka</a></li>
            <li><a class="menu-category" href="#">Thai katuruoka</a></li>
          </ul>
        </div>

      </div>

    </div>

    <div id="footer">
      <div id="footer-contact">
        <h2>Yhteystiedot</h2>
        <ul>
          <li>Aleksiskivenkatu 25</li>
          <li>Helsinki<br><br></li>
          <li>+358 50516 2208</li>
        </ul>
      </div>
      <div id="footer-opening">
        <h2>Aukioloajat</h2>
        <ul class="opening-time-list">
          <li>MA 11-15</li>
          <li>TI-TO 11-22</li>
          <li>PE 11-23</li>
          <li>LA 12-23</li>
          <li>SU 12-20</li>
        </ul>
      </div>
    </div>

    <script src="js/menu.js" charset="utf-8"></script>

  </body>
</html>
