<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    {{ $style := resources.Get "sass/style.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" type="text/css" media="all" />
    <title>Thaiorchid Konepaja</title>
  </head>
  <body>

    <div id="header">
      <div></div>
      <div class="header-menu"></div>
      <div class="language">
        <ul>
          <li>
            <a id="change-to-fi" href="#">fi</a>
          </li>
          <li>
            <a id="change-to-en" href="#">en</a>
          </li>
        </ul>
      </div>
    </div>

    <div id="content">
      <div class="logo"><img src="img/thaiorchid-logo.png" alt="Thaiorchid-konepaja logo"></div>
      <div id="facebook">
        <div class='sk-ww-facebook-feed' data-embed-id='12434'></div><script src='https://www.sociablekit.com/app/embed/facebook-feed/widget.js'></script>
      </div>
      <!-- <div class="logo">foo</div> -->
      <!-- <div class="facebook"> -->
      <!--   <h3>Facebook title</h3> -->
      <!--   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
      <!-- </div> -->
      <!-- <div class="facebook"> -->
      <!--   <h3>Facebook title</h3> -->
      <!--   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
      <!-- </div> -->
      <!-- <div class="facebook"> -->
      <!--   <h3>Facebook title</h3> -->
      <!--   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
      <!-- </div> -->
    </div>

    <div class="plate">
      <h2 class="script"><span>Menu</span></h2>
    </div>

    <div id="menu">

      <div id="menu-content">

        <img src="menu/thaimenu-fi_02.png" class="hide">
        <img src="menu/thaimenu-fi_03.png" class="hide">
        <img src="menu/thaimenu-fi_04.png" class="hide">
        <img src="menu/thaimenu-fi_05.png" class="hide">
        <img src="menu/thaimenu-fi_06.png" class="hide">
        <img src="menu/thaimenu-fi_07.png" class="hide">
        <img src="menu/thaimenu-fi_08.png" class="hide">
        <img src="menu/thaimenu-fi_09.png" class="hide">
        <img src="menu/thaimenu-fi_10.png" class="hide">
        <img src="menu/thaimenu-fi_11.png" class="hide">

        <div id="menu-list">
          <ul>
            <li><a class="menu-category" href="#">Alkupala</a></li>
            <li><a class="menu-category" href="#">Salaatti</a></li>
            <li><a class="menu-category" href="#">Curry</a></li>
            <li><a class="menu-category" href="#">Wok-paistettu</a></li>
            <li><a class="menu-category" href="#">Wok nuudeli</a></li>
            <li><a class="menu-category" href="#">Nuudelikeitto</a></li>
            <li><a class="menu-category" href="#">Ankka</a></li>
            <li><a class="menu-category" href="#">Meren elävät</a></li>
            <li><a class="menu-category" href="#">Kasvisruoka</a></li>
            <li><a class="menu-category" href="#">Thai katuruoka</a></li>
          </ul>
        </div>

      </div>

    </div>

    <div id="footer">
      <div id="footer-contact">
        <h3>Yhteystiedot</h3>
        <ul>
          <li>Aleksis Kiven Katu 25</li>
          <li>Helsinki<br><br></li>
          <li>+358 50516 2208</li>
        </ul>
      </div>
      <div id="footer-opening">
        <h3>Aukioloajat</h3>
        <ul class="opening-time-list">
          <li>MA 11-15</li>
          <li>TI-TO 11-22</li>
          <li>PE 11-23</li>
          <li>LA 12-23</li>
          <li>SU 12-20</li>
        </ul>
      </div>
    </div>

    <!-- <script src="js/menu.js" charset="utf&#45;8"></script> -->
    <!-- <script src="js/facebook.js" charset="utf&#45;8"></script> -->
    <!-- <script src="js/language.js" charset="utf&#45;8"></script> -->

    {{ $js := resources.Get "js/menu.js" | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>

  </body>
</html>
